.menu-section {
  background-color: #1f2937;
  padding: 0px 250px;
  /* padding-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.auth-section {
  display: flex;
  /* background-color: red; */
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  width: 30%;
}

.auth-button {
  /* width: 20%; */
  /* height: 50px; */
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f97316;
  border-radius: 10px;
  border: 2px solid black;
  text-decoration: none;
  color: white;
}

.auth-button:hover {
  cursor: pointer;
}

.header-h1 {
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
  /* background-color: #85c01f; */
  margin-left: 20px;
  text-decoration: none;
}

.header-h1:hover {
  cursor: pointer;
}

.h1-des {
  color: white;
  margin-left: 30px;
  font-size: 1em;
  padding-top: 3px;
  text-decoration: none;
}

.h1-des:hover {
  color: lightgrey;
  cursor: pointer;
}

.h1-custom {
  margin-left: 10px;
  padding-top: 0px;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.plus-des {
  color: white;
  font-size: 1.2em;
  padding-top: 5px;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85c01f;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: -5px;
  margin-left: 7.5%;
  width: 10%;
  height: 50%;
  text-decoration: none;
}

.custom-button:hover {
  background-color: #96d032;
  cursor: pointer;
}

.profile-image {
  width: 40px; /* Şəklin eni */
  height: 40px; /* Şəklin hündürlüyü */
  border-radius: 50%; /* Dairəvi forma */
  object-fit: cover; /* Şəklin konteynerə uyğun gəlməsi */
  border: 2px solid #4caf50; /* İstəyə görə çərçivə rəngi və qalınlığı */
  cursor: pointer; /* Maus üzərində göstərici dəyişir */
  transition: transform 0.3s ease; /* Hover effekti üçün yumşaq keçid */
  margin-top: 7px;
}

.profile-image:hover {
  transform: scale(1.1); /* Hover zamanı ölçünü bir az böyüdür */
  border-color: #388e3c; /* Hover zamanı çərçivə rəngini dəyişir */
}
